
body {
 font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #F5F5F5;
  padding: 200px 300px 300px 300px;
}
div {
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 3%;
}
h1 {
  color: #000000;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 1%;
}
h2 {
  color: #000000;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 2%;
}
h3 {
  color: #000000;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-left: 2%;
}
p {
  color: #75C9FD;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  
}
.totalSalary {
  color: #000000;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#givenInfoSection{
  display: center;
}